{% set class_name = type.name | to_upper_camel_case -%}
{% set positional_fields = type.fields | selectattr("positional") -%}
{% macro fromJson_toJson(ty) -%}
    /**
     * Create an instance of {{ ty }} given a JSON string
     *
     * @param jsonString JSON string
     * @return An instance of {{ ty }}
     * @throws JsonProcessingException if the JSON string is invalid with respect to {{ ty }}
     */
    public static {{ ty }} fromJson(String jsonString) throws JsonProcessingException {
        return Utils.getObjectMapper().readValue(jsonString, {{ ty }}.class);
    }

    /**
     * Convert an instance of {{ ty }} to a JSON string
     *
     * @return JSON string
     */
    public String toJson() throws JsonProcessingException {
        return Utils.getObjectMapper().writeValueAsString(this);
    }
{%- endmacro -%}

import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonAutoDetect;
import com.fasterxml.jackson.annotation.JsonAutoDetect.Visibility;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonIgnore;
import com.fasterxml.jackson.annotation.JsonValue;
import com.fasterxml.jackson.annotation.JsonFilter;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.svix.coyote.Utils;
import java.util.Map;
import java.util.Set;
import java.util.List;
import java.util.Optional;
import java.util.HashMap;
import java.time.OffsetDateTime;
import java.util.LinkedHashSet;
import java.util.ArrayList;
import java.net.URI;
import java.util.Objects;
import lombok.EqualsAndHashCode;
import lombok.ToString;

@ToString
@EqualsAndHashCode
@JsonInclude(JsonInclude.Include.NON_NULL)
@JsonAutoDetect(getterVisibility = Visibility.NONE, setterVisibility = Visibility.NONE)
public class {{ class_name }} {
{%- for field in type.fields %}
    {%- set field_annotation = "" %}

    {#- ensure json field name is correct #}
    {%- if field.name != field.name | to_lower_camel_case %}
        {%- set field_annotation %}@JsonProperty("{{ field.name }}"){% endset -%}
    {%- else %}
    {%- set field_annotation %}@JsonProperty{% endset -%}
    {%- endif %}

    {#- none nullable fields #}
    {{ field_annotation }} private {{ field.type.to_java() }} {{ field.name | to_lower_camel_case }};
{%- endfor %}
    public {{ class_name }}() {}

{%- for field in type.fields %}
    {%- if not field.positional %}
    {%- set f_ty = field.type.to_java() %}
    {%- set f_varname = field.name | to_lower_camel_case %}
    {%- set f_deprecated = "" %}
    {%- if field.deprecated %}
        {%- set f_deprecated = "@Deprecated " %}
    {%- endif %}

    {{ f_deprecated -}} public {{ class_name }} {{ f_varname }}({{ f_ty }} {{ f_varname }}) {
        this.{{ f_varname }} = {{ f_varname }};
        return this;
    }

    {% if field.type.is_set() or field.type.is_list() -%}
    {{ f_deprecated -}} public {{ class_name }} add{{ f_varname | to_upper_camel_case }}Item({{ field.type.inner_type().to_java() }} {{ f_varname }}Item) {
        if (this.{{ f_varname }} == null) {
            {%- if field.type.is_set() %}
            this.{{ f_varname }} = new LinkedHashSet<>();
            {%- else %}
            this.{{ f_varname }} = new ArrayList<>();
            {%- endif %}
        }
        this.{{ f_varname }}.add({{ f_varname }}Item);
        return this;
    }
    {% elif field.type.is_map() -%}
    {{ f_deprecated -}} public {{ class_name }} put{{ f_varname | to_upper_camel_case }}Item(String key, String {{ f_varname }}Item) {
        if (this.{{ f_varname }} == null) {
            this.{{ f_varname }} = new HashMap<>();
        }
        this.{{ f_varname }}.put(key, {{ f_varname }}Item);
        return this;
    }
    {% endif -%}

    /**
    {% if field.description is defined -%}
     * {{ field.description }}
    {% else -%}
     * Get {{ f_varname }}
    {% endif -%}
     *
     * @return {{ f_varname }}
     */
    {% if field.nullable or not field.required -%}
    @javax.annotation.Nullable
    {% else -%}
    @javax.annotation.Nonnull
    {% endif -%}
    {{ f_deprecated -}} public {{ f_ty }} get{{ f_varname | to_upper_camel_case }}() {
        return {{ f_varname }};
    }

    {{ f_deprecated -}} public void set{{ f_varname | to_upper_camel_case }}({{ f_ty }} {{ f_varname }}) {
        this.{{ f_varname }} = {{ f_varname }};
    }

    {%- if field.type.is_string_const() %}
    {# This field has the type of ClassType.TypeEnum (backwards compat) -#}
    public enum TypeEnum {
        {{ field.type.string_const_val() | to_upper_snake_case }}("{{ field.type.string_const_val() }}");
        private final String value;

        TypeEnum(String value) {
            this.value = value;
        }

        @JsonValue
        public String getValue() {
            return this.value;
        }

        @Override
        public String toString(){
            return this.value;
        }

        public static TypeEnum fromValue(String value) {
            if (!Objects.equals(value, "{{ field.type.string_const_val() }}")){
                throw new IllegalArgumentException("Unexpected value '" + value + "'");
            }
            return {{ field.type.string_const_val() | to_upper_snake_case }};
        }
    }
    {%- endif %}
    {%- endif %}
{%- endfor %}
{%- if positional_fields | length == 0 %}

    {{ fromJson_toJson(class_name) }}
{%- endif %}
}

{%- if positional_fields | length > 0 %}
{%- set extra_class_decl -%}
// this file is @generated
package com.svix.coyote.models;

import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonAutoDetect;
import com.fasterxml.jackson.annotation.JsonAutoDetect.Visibility;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonIgnore;
import com.fasterxml.jackson.annotation.JsonValue;
import com.fasterxml.jackson.annotation.JsonFilter;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.svix.coyote.Utils;
import java.util.Map;
import java.util.Set;
import java.util.List;
import java.util.Optional;
import java.util.HashMap;
import java.time.OffsetDateTime;
import java.util.LinkedHashSet;
import java.util.ArrayList;
import java.util.Objects;

@JsonInclude(JsonInclude.Include.NON_NULL)
@JsonAutoDetect(getterVisibility = Visibility.NONE, setterVisibility = Visibility.NONE)
public class {{ class_name }}_ {
{%- for field in type.fields %}
    {% set field_annotation = "" -%}

    {# ensure json field name is correct -#}
    {% if field.name != field.name | to_lower_camel_case -%}
        {%- set field_annotation %}@JsonProperty("{{ field.name }}"){% endset -%}
    {% else -%}
    {% set field_annotation %}@JsonProperty{% endset -%}
    {% endif -%}

    {{ field_annotation }} private {{ field.type.to_java() }} {{ field.name | to_lower_camel_case }};
{%- endfor %}

    public {{ class_name }}_(
        {%- for field in type.fields %}
        {{ field.type.to_java() }} {{ field.name | to_lower_camel_case }}
        {%- if not loop.last %},{% endif %}
        {%- endfor %}
    ) {
        {%- for field in type.fields %}
        {%- set ident = field.name | to_lower_camel_case %}
        this.{{ ident }} = {{ ident }};
        {%- endfor %}
    }

    {{ fromJson_toJson(class_name ~ "_") }}
}
{% endset %}
{%- do generate_extra_file(output_dir ~ "/" ~ class_name ~ "_.java", extra_class_decl) %}
{%- endif %}
