z-clients/cli/src/cmds/api/** linguist-generated
z-clients/go/apis.go linguist-generated
z-clients/go/internal/apis/** linguist-generated
z-clients/go/internal/models/** linguist-generated
z-clients/go/models.go linguist-generated
z-clients/java/src/main/java/com/svix/coyote/Coyote.java linguist-generated
z-clients/java/src/main/java/com/svix/coyote/apis/** linguist-generated
z-clients/java/src/main/java/com/svix/coyote/models/** linguist-generated
z-clients/javascript/src/apis/** linguist-generated
z-clients/javascript/src/client.ts linguist-generated
z-clients/javascript/src/models/** linguist-generated
z-clients/python/coyote/__init__.py linguist-generated
z-clients/python/coyote/apis/** linguist-generated
z-clients/python/coyote/coyote.py linguist-generated
z-clients/python/coyote/models/** linguist-generated
z-clients/rust/src/api/** linguist-generated
z-clients/rust/src/models/** linguist-generated
