clients/cli/src/cmds/api/** linguist-generated
clients/go/apis.go linguist-generated
clients/go/internal/apis/** linguist-generated
clients/go/internal/models/** linguist-generated
clients/go/models.go linguist-generated
clients/java/src/main/java/com/svix/coyote/apis/** linguist-generated
clients/java/src/main/java/com/svix/coyote/models/** linguist-generated
clients/javascript/src/apis/** linguist-generated
clients/javascript/src/client.ts linguist-generated
clients/javascript/src/models/** linguist-generated
clients/python/coyote/apis/** linguist-generated
clients/python/coyote/coyote.py linguist-generated
clients/python/coyote/models/** linguist-generated
clients/rust/src/api/** linguist-generated
clients/rust/src/models/** linguist-generated
