{% macro field_decl(field) %}
    {%- if field.name | to_snake_case != field.name %}
        {%- do panic("diom API does not use non-snake_case field names") %}
    {%- endif %}
    {{ field.name | to_snake_case }}: {{ field.type.to_python() }}
    {%- if not field.required %} | None = None
    {%- elif field.nullable %} | None
    {%- endif %}
    {%- if field.description is defined %}
    {{ field.description | to_doc_comment(style="python") | indent(4) }}
    {%- endif %}
{% endmacro %}
