{% macro field_name(field) -%}
    {%- set field_name = field.name | to_snake_case -%}
    {%- if field_name != field.name %}
        {%- do panic("diom API does not use non-snake_case field names") %}
    {%- endif %}
    {%- if field.type.is_duration_ms() -%}
        {%- if field_name is not endingwith "_ms" %}{% do panic("duration field must have _ms suffix") %}{% endif %}
        {%- set field_name = field_name | strip_trailing_str("_ms") -%}
    {%- endif -%}
    {{ field_name }}
{%- endmacro -%}
{% macro field_type(field) -%}
    {% set field_ty = field.type.to_python() -%}
    {% if field.type.is_unix_timestamp_ms() -%}
        {% set field_ty = "UnixTimestampMs" -%}
    {% elif field.type.is_duration_ms() -%}
        {% set field_ty = "TimeDeltaMs" -%}
    {% endif -%}
    {{ field_ty }}
    {%- if not field.required or field.nullable %} | None{% endif %}
{%- endmacro -%}
{% macro field_decl(field) %}
    {%- if not field.required %}{% set field_default = "None" %}{% endif %}
    {%- set field_name = field_name(field) %}
    {%- if field_name != field.name %}
        {% set field_default -%}
            Field(alias = "{{ field.name }}"
            {%- if not field.required %}, default = None{% endif -%})
        {%- endset %}
    {%- endif %}
    {{ field_name }}: {{ field_type(field) }}
    {%- if field_default is defined %} = {{ field_default }}{% endif %}
    {%- if field.description is defined %}
    {{ field.description | to_doc_comment(style="python") | indent(4) }}
    {%- endif %}
{% endmacro %}
