{% from "types/macros.py.jinja" import field_decl -%}
{% set type_name = type.name | to_upper_camel_case -%}
{% set positional_fields = type.fields | selectattr("positional") -%}
import typing as t
from pydantic import Field

from ..internal.base_model import BaseModel
from ..internal.types import TimeDeltaMs, UnixTimestampMs

{% for c in referenced_components -%}
from . {{ c | to_snake_case }} import {{ c | to_upper_camel_case }}
{% endfor %}

class {{ type_name }}(BaseModel):
{%- if type.description is defined %}
    {{ type.description | to_doc_comment(style="python") | indent(4) }}
{%- endif %}
{%- if type.fields | selectattr("positional", "false") | length == 0 %}
    pass
{%- endif %}
{%- for field in type.fields | selectattr("positional", "false") %}
    {{ field_decl(field) }}
{%- endfor %}

{%- if positional_fields | length > 0 %}

class _{{ type_name }}(BaseModel):
{%- if type.fields | length == 0 %}
    pass
{%- else %}
{% for field in type.fields %}
    {{ field_decl(field) }}
{%- endfor %}
{%- endif %}
{%- endif %}
