{% from "types/macros.go.jinja" import field_decl -%}
{% set type_name = type.name | to_upper_camel_case -%}
{% set positional_fields = type.fields | selectattr("positional") -%}
import (
	"time"

	coyote_proto "github.com/svix/coyote/z-clients/go/internal/proto"
	coyote_types "github.com/svix/coyote/z-clients/go/internal/types"
)

{% if type.description is defined -%}
{{ type.description | to_doc_comment(style="go")}}
{% endif -%}
type {{ type_name }} struct {
	{% for field in type.fields | selectattr("positional", "false") -%}
		{{ field_decl(field) }}
	{% endfor -%}
}

{%- if positional_fields | length > 0 %}

type {{ type_name }}_ struct {
	{% for field in type.fields -%}
		{{ field_decl(field) }}
	{% endfor -%}
}
{%- endif %}
