import (
	"time"

	diom_proto "github.com/svix/diom/clients/go/internal/proto"
)

{% if type.description is defined -%}
{{ type.description | to_doc_comment(style="go")}}
{% endif -%}
type {{ type.name | to_upper_camel_case }} struct {
	{% include "types/struct_fields.go.jinja" -%}
}
