{% macro ident(name) -%}
    {%- if name in ["ref", "type"] %}r#{% endif -%}
    {{ name }}
{%- endmacro -%}
{% macro field_name(field, as_ident=true) -%}
    {%- set field_name = field.name | to_snake_case -%}
    {%- if field_name is endingwith "_ms" -%}
        {%- if not field.type.is_u64() %}{% do panic("_ms type should be uint64") %}{% endif -%}
        {%- set field_name = field_name | strip_trailing_str("_ms") -%}
    {%- endif -%}
    {%- if as_ident -%}
        {{ ident(field_name) }}
    {%- else -%}
        {{ field_name }}
    {%- endif -%}
{%- endmacro %}
{% macro field_type(field) -%}
    {% set field_ty = field.type.to_rust() -%}
    {% if field.name is endingwith "_ms" -%}
        {% set field_ty = "std::time::Duration" -%}
    {% endif -%}
    {% if not field.required or field.nullable -%}
        {% set field_ty %}Option<{{ field_ty }}>{% endset -%}
    {% endif -%}
    {{ field_ty }}
{%- endmacro %}
{% macro serde_attr_args(field) -%}
    {% set name = field_name(field) -%}
    {% if name != field.name -%}
        rename = "{{ field.name }}",
    {% endif -%}
    {% if field.type.is_bytes() -%}
        {% if not field.required or field.nullable -%}
            with = "crate::serde_bytes_opt",
        {% else -%}
            with = "serde_bytes",
        {% endif -%}
    {% endif -%}
    {% if not field.required or field.nullable -%}
        skip_serializing_if = "Option::is_none",
    {% endif -%}
    {% if field_name is endingwith "_ms" -%}
        {% set serde_with = "crate::duration_ms_serde" -%}
        {% if not field.required or field.nullable -%}
            {% set serde_with = serde_with ~ "::optional" -%}
        {% endif -%}
        with = "{{ serde_with }}",
    {% endif -%}
{%- endmacro %}
{% macro field_decl(field) -%}
    {% if field.description is defined -%}
        {{ field.description | to_doc_comment(style="rust") }}
    {% endif -%}

    {% if field.deprecated -%}
        #[deprecated]
    {% endif -%}

    {% set saa = serde_attr_args(field) -%}
    {% if saa != "" -%}
        #[serde({{ saa }})]
    {% endif -%}

    pub {{ field_name(field) }}: {{ field_type(field) }},
{%- endmacro -%}
