{% from "types/macros.rs.jinja" import ident -%}
{% set type_name = type.name | to_upper_camel_case -%}
{% set has_positional_fields = type.fields | selectattr("positional") | length > 0 -%}
use serde::{Deserialize, Serialize};

use super::{
    {% for c in referenced_components -%}
        {{ c | to_snake_case }}::{{ c | to_upper_camel_case }},
    {% endfor -%}
};

{{ doc_comment }}
#[derive(
    Clone,
    Debug,
    {%- if type.fields | selectattr("required") | length == 0 %}
    Default,
    {%- endif %}
    Deserialize,
    {%- if not has_positional_fields %}
    Serialize,
    {%- endif %}
)]
pub struct {{ type_name }} {
    {% for field in type.fields %}
    {% if not field.positional -%}
    {% if field.description is defined -%}
        {{ field.description | to_doc_comment(style="rust") }}
    {% endif -%}

    {% if field.deprecated -%}
        #[deprecated]
    {% endif -%}

    {% if field.name != field.name | to_snake_case -%}
        #[serde(rename = "{{ field.name }}")]
    {% endif -%}

    {#
        we only have defaults on optional fields now,
        so leave them alone here as well, for now
    -#}
    {# {% if field.default is defined and field.default is not none -%}
    #[serde(default = "{{ field.name | to_snake_case }}_default")]
    {% endif -%} -#}
    {% set field_ty = field.type.to_rust() -%}

    {% if not field.required or field.nullable -%}
        {% set field_ty %}Option<{{ field_ty }}>{% endset -%}
        #[serde(skip_serializing_if = "Option::is_none")]
    {% endif -%}

    pub {{ ident(field.name | to_snake_case) }}: {{ field_ty }},
    {%- endif %}
{% endfor %}
}

impl {{ type_name }} {
    pub fn new(
        {% for field in type.fields -%}
        {% if not field.positional -%}
            {% set field_ty = field.type.to_rust() -%}
            {% if field.required and not field.nullable -%}
                {{ ident(field.name | to_snake_case) }}: {{ field_ty }},
            {% endif -%}
        {% endif -%}
        {% endfor -%}
    ) -> Self {
        {% if type.fields | selectattr("deprecated") | length > 0 -%}
            #[allow(deprecated)]
        {% endif -%}
        Self {
            {% for field in type.fields -%}
            {% if not field.positional -%}
                {% if field.required and not field.nullable -%}
                    {{ ident(field.name | to_snake_case) }},
                {% else -%}
                    {{ ident(field.name | to_snake_case) }}: None,
                {% endif -%}
            {% endif -%}
            {% endfor -%}
        }
    }

    {% for field in type.fields -%}
    {% if not field.required -%}
    pub fn with_{{ ident(field.name | to_snake_case) }}(
        mut self,
        value: impl Into<Option<{{ field.type.to_rust() }}>>,
    ) -> Self {
        self.{{ ident(field.name | to_snake_case) }} = value.into();
        self
    }

    {% endif -%}
    {% endfor -%}
}

{%- if has_positional_fields %}

#[derive(Clone, Debug, Deserialize, Serialize)]
pub(crate) struct {{ type_name }}_ {
    {% include "types/struct_fields.rs.jinja" %}
}
{%- endif %}
