{% from "types/macros.rs.jinja" import field_decl, field_name, field_type -%}
{% set type_name = type.name | to_upper_camel_case -%}
{% set positional_fields = type.fields | selectattr("positional") -%}
use serde::{Deserialize, Serialize};

use super::{
    {% for c in referenced_components -%}
        {{ c | to_snake_case }}::{{ c | to_upper_camel_case }},
    {% endfor -%}
};

{{ doc_comment }}
#[derive(
    Clone,
    Debug,
    {%- if type.fields | selectattr("required") | selectattr("positional", "false") | length == 0 %}
    Default,
    {%- endif %}
    Deserialize,
    {%- if positional_fields | length == 0 %}
    Serialize,
    {%- endif %}
)]
pub struct {{ type_name }} {
{%- for field in type.fields | selectattr("positional", "false") %}
    {{ field_decl(field) }}
{% endfor %}
}

impl {{ type_name }} {
    pub fn new(
        {% for field in type.fields
            | selectattr("positional", "false")
            | selectattr("required")
            | selectattr("nullable", "false") -%}
            {{ field_name(field) }}: {{ field_type(field) }},
        {% endfor -%}
    ) -> Self {
        {% if type.fields | selectattr("deprecated") | length > 0 -%}
            #[allow(deprecated)]
        {% endif -%}
        Self {
            {% for field in type.fields | selectattr("positional", "false") -%}
                {{ field_name(field) }}
                {%- if not field.required or field.nullable -%}: None{% endif -%}
                ,
            {% endfor -%}
        }
    }

    {% for field in type.fields | selectattr("required", "false") -%}
    pub fn with_{{ field_name(field, as_ident=false) }}(
        mut self,
        value: impl Into<{{ field_type(field) }}>,
    ) -> Self {
        self.{{ field_name(field) }} = value.into();
        self
    }

    {% endfor -%}
}

{%- if positional_fields | length > 0 %}

#[derive(Clone, Debug, Deserialize, Serialize)]
pub(crate) struct {{ type_name }}_ {
{%- for field in type.fields %}
    {{ field_decl(field) }}
{% endfor %}
}
{%- endif %}
