{% from "types/macros.java.jinja" import field_name, field_type -%}
{% set resource_type_name = resource.name | to_upper_camel_case -%}
// this file is @generated
package com.svix.diom.apis;

import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.svix.diom.ApiException;
import com.svix.diom.HttpClient;
import com.svix.diom.Utils;
import java.io.IOException;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Set;
{%- if resource.subresources | length > 0 %}
import lombok.Getter;
{%- endif %}
import okhttp3.Headers;
import okhttp3.HttpUrl;
{%- for c in referenced_components %}
import com.svix.diom.models.{{ c | to_upper_camel_case }};
{%- endfor %}
{%- for op in resource.operations %}
{%- if op.request_body_schema_name is defined and
    api.types[op.request_body_schema_name].fields | selectattr("positional") | length > 0 %}
import com.svix.diom.models.{{ op.request_body_schema_name }}_;
{%- endif %}
{%- endfor %}

public class {{ resource_type_name }} {
    private final HttpClient client;

    public {{ resource_type_name }}(HttpClient client) {
        this.client = client;
    }

{%- for op in resource.operations %}
    {%- set method_name = op.name | to_lower_camel_case %}
    {%- set throws = "throws IOException, ApiException" %}
    {%- set res_type = "void" %}
    {%- if op.response_body_schema_name is defined %}
        {%- set res_type = op.response_body_schema_name | replace("_", "") %}
    {%- endif %}

    {{ op.description | with_javadoc_deprecation(op.deprecated) | to_doc_comment(style="java") }}
    {% if op.deprecated -%}
    @Deprecated
    {% endif -%}
    public {{ res_type }} {{ method_name }}(
        {%- set func_args %}
        {%- if op.request_body_schema_name is defined %}

        {#- positional body parameters #}
        {%- set body_schema = api.types[op.request_body_schema_name] %}
        {%- set positional_fields = body_schema.fields | selectattr("positional") %}
        {%- for field in positional_fields %}
        {{ field.type.to_java() }} {{ field.name | to_lower_camel_case }},
        {%- endfor %}

        {#- body parameter interface #}
        {%- set req_body_field_name = op.request_body_schema_name | to_lower_camel_case %}
        final {{ op.request_body_schema_name }} {{ req_body_field_name }},

        {%- endif %}
        {% endset -%}
        {{ func_args | strip_trailing_comma }}
    ) {{ throws }} {
        HttpUrl.Builder url = this.client.newUrlBuilder().encodedPath("{{ op.path }}");

        {#- request body #}
        {%- if op.request_body_schema_name is defined %}
            {%- if positional_fields | length > 0 %}
        {{ op.request_body_schema_name }}_ body = new {{ op.request_body_schema_name }}_(
        {%- set args %}
        {%- for field in body_schema.fields %}
            {% if not field.positional -%}
                {{ req_body_field_name }}.get{{ field_name(field) | to_upper_camel_case }}(),
            {%- else -%}
                {{ field_name(field) }},
            {%- endif -%}
        {%- endfor %}
        {%- endset %}
        {{- args | strip_trailing_comma }}
        );

                {%- set body = "body" %}
            {%- else %}
                {%- set body = req_body_field_name %}
            {%- endif %}
        {%- else %}
        {%- set body = "null" %}
        {%- endif %}

        {% if res_type != "void" %}return {% endif -%}
        this.client.executeRequest(
            "{{ op.method | upper }}",
            url.build(),
            null,
            {{ body }},
            {#- response body class #}
            {%- if op.response_body_schema_name is defined %}
            {{ res_type }}.class
            {%- else %}
            null
            {%- endif %}
        );
    }

    {%- if positional_fields is defined and
        (body_schema.fields | selectattr("required") | length)
            == (positional_fields | length) %}
    {#- if all required body parameters are positional, generate
        an extra overload without the body parameter interface #}

    {{ op.description | with_javadoc_deprecation(op.deprecated) | to_doc_comment(style="java") }}
    {% if op.deprecated -%}
    @Deprecated
    {% endif -%}
    public {{ res_type }} {{ method_name }}(
        {%- set func_args %}
        {#- positional body parameters #}
        {%- for field in positional_fields %}
        {{ field.type.to_java() }} {{ field.name | to_lower_camel_case }},
        {%- endfor %}
        {% endset -%}
        {{ func_args | strip_trailing_comma }}
    ) {{ throws }} {
        {% if res_type != "void" %}return {% endif -%}
        this.{{ method_name }}(
            {%- for field in positional_fields %}
            {{ field.name | to_lower_camel_case }},
            {%- endfor %}
            new {{ op.request_body_schema_name }}()
        );
    }
    {%- endif %}
{%- endfor %}
}
