{% do set_summary_filename("Diom.java") -%}
// this file is @generated
package com.svix.diom;

import java.util.Map;
import java.util.TreeMap;

{% for resource in api.resources -%}
import com.svix.diom.apis.{{ resource.name | to_upper_camel_case }};
{% endfor %}
import okhttp3.HttpUrl;

public class Diom {
    private final HttpClient httpClient;

    public Diom(String token) {
        this(token, new DiomOptions());
    }

    public Diom(String token, DiomOptions options) {
        if (options.getServerUrl() == null) {
            options.setServerUrl(DiomOptions.DEFAULT_URL);
        }

        HttpUrl parsedUrl = HttpUrl.parse(options.getServerUrl());
        if (parsedUrl == null) {
            throw new IllegalArgumentException("Invalid base url");
        }

        Map<String, String> defaultHeaders = new TreeMap<>();
        defaultHeaders.put("user-agent", "diom-libs/0.1.0/java");
        defaultHeaders.put("Authorization", "Bearer " + token);

        this.httpClient
                = new HttpClient(parsedUrl, defaultHeaders, options.getRetrySchedule());
    }

    {%- for resource in api.resources %}

    {% set resource_name = resource.name | to_upper_camel_case -%}
    public {{ resource_name }} {{ resource.name | to_lower_camel_case }}() {
        return new {{ resource_name }}(this.httpClient);
    }
    {%- endfor %}
}
