// this file is @generated
{% from "types/macros.rs.jinja" import field_name, field_type -%}
{% set resource_type_name = resource.name | to_upper_camel_case -%}

use crate::{
{%- if resource.operations | length > 0 %}
    error::Result,
    models::*,
{%- endif %}
    Configuration,
};
use super::{
    {% for _, sub in resource.subresources | items -%}
        {{ sub.name | to_upper_camel_case }} ,
    {%- endfor %}
};

pub struct {{ resource_type_name }}<'a> {
    cfg: &'a Configuration,
}

impl<'a> {{ resource_type_name }}<'a> {
    pub(super) fn new(cfg: &'a Configuration) -> Self {
        Self { cfg }
    }

    {% for name, sub in resource.subresources | items -%}
    {% set sub_type_name = sub.name | to_upper_camel_case -%}
    pub fn {{ name | to_snake_case }}(&self) -> {{ sub_type_name }}<'a> {
        {{ sub_type_name }}::new(self.cfg)
    }

    {% endfor -%}

    {% for op in resource.operations %}
    {% if op.query_params | length > 0 -%}
        {% do panic("we don't do query parameters in this API") %}
    {% endif -%}
    {% set req_body_schema_name = op.request_body_schema_name | to_snake_case -%}
    {% if op.description is defined -%}
        {{ op.description | to_doc_comment(style="rust") }}
    {% endif -%}
    {% if op.deprecated -%}
        #[deprecated]
    {% endif -%}
    pub async fn {{ op.name | to_snake_case }}(
        &self,
        {% if op.request_body_schema_name is defined -%}
            {# positional body parameters -#}
            {% set body_schema = api.types[op.request_body_schema_name] -%}
            {% set positional_fields = body_schema.fields | selectattr("positional") -%}
            {% if positional_fields | length > 0 -%}
                {% set unused_body_param_struct = body_schema.fields | selectattr("positional", "false") | length == 0 -%}
            {% endif -%}
            {% for field in positional_fields -%}
                {{ field_name(field) }}: {{ field_type(field) }},
            {% endfor -%}

            {#- body parameter struct -#}
            {{ req_body_schema_name }}: {{ op.request_body_schema_name }},
        {% endif -%}
    ) -> Result<{{ op.response_body_schema_name | default("()") | replace("_", "") }}> {
        {%- if unused_body_param_struct %}
        let _unused = {{ req_body_schema_name }};
        {%- endif %}
        {%- if positional_fields is defined and positional_fields | length > 0 %}
        let {{ req_body_schema_name }} = {{ op.request_body_schema_name }}_{
            {% for field in body_schema.fields -%}
                {% set name = field_name(field) -%}
                {{ name }}
                {%- if not field.positional %}: {{ req_body_schema_name }}.{{ name }}{% endif %},
            {% endfor -%}
        };
        {%- endif %}

        {# make the request -#}
        crate::request::Request::new(http::Method::{{ op.method | upper }}, "{{ op.path }}")

        {% for p in op.header_params -%}
            .with_optional_header_param("{{ p.name }}", {{ p.name | to_snake_case }})
        {% endfor -%}

        {% if op.request_body_schema_name is defined -%}
            .with_body({{ op.request_body_schema_name | to_snake_case }})
        {% endif -%}

        {% if op.response_body_schema_name is undefined -%}
            .returns_nothing()
        {% endif -%}

            .execute(self.cfg)
            .await
    }

    {% set extra_path -%}
        api_extra/{{ resource.name | to_snake_case }}_{{ op.name | to_snake_case }}.rs
    {%- endset -%}
    {% include extra_path ignore missing %}
    {% endfor %}
}

{% set extra_path -%}
    api_extra/{{ resource.name | to_snake_case }}.rs
{%- endset -%}
{% include extra_path ignore missing %}
