// this file is @generated
{% set resource_type_name = resource.name | to_upper_camel_case -%}

use crate::{
{%- if resource.operations | length > 0 %}
    error::Result,
    models::*,
{%- endif %}
    Configuration,
};
use super::{
    {% for _, sub in resource.subresources | items -%}
        {{ sub.name | to_upper_camel_case }} ,
    {%- endfor %}
};

pub struct {{ resource_type_name }}<'a> {
    cfg: &'a Configuration,
}

impl<'a> {{ resource_type_name }}<'a> {
    pub(super) fn new(cfg: &'a Configuration) -> Self {
        Self { cfg }
    }

    {% for name, sub in resource.subresources | items -%}
    {% set sub_type_name = sub.name | to_upper_camel_case -%}
    pub fn {{ name | to_snake_case }}(&self) -> {{ sub_type_name }}<'a> {
        {{ sub_type_name }}::new(self.cfg)
    }

    {% endfor -%}

    {% for op in resource.operations %}
    {% if op.query_params | length > 0 -%}
        {% do panic("we don't do query parameters in this API") %}
    {% endif -%}
    {% set req_body_schema_name = op.request_body_schema_name | to_snake_case -%}
    {% if op.description is defined -%}
        {{ op.description | to_doc_comment(style="rust") }}
    {% endif -%}
    {% if op.deprecated -%}
        #[deprecated]
    {% endif -%}
    pub async fn {{ op.name | to_snake_case }}(
        &self,

        {#- path parameters #}
        {% for p in op.path_params -%}
            {{ p }}: String,
        {% endfor -%}

        {% if op.request_body_schema_name is defined -%}
            {# positional body parameters -#}
            {% set body_schema = api.types[op.request_body_schema_name] -%}
            {% set has_positional_fields = body_schema.fields | selectattr("positional") | length > 0 -%}
            {% set has_non_positional_fields = body_schema.fields | selectattr("positional", "false") | length > 0 -%}
            {% for field in body_schema.fields -%}
            {% if field.positional -%}
                {{ field.name | to_snake_case }}: {{ field.type.to_rust() }},
            {% endif -%}
            {% endfor -%}

            {#- body parameter struct -#}
            {{ req_body_schema_name }}: {{ op.request_body_schema_name }},
        {% endif -%}
    ) -> Result<{{ op.response_body_schema_name | default("()") | replace("_", "") }}> {
        {%- if op.request_body_schema_name is defined and not has_non_positional_fields %}
        let _unused = {{ req_body_schema_name }};
        {%- endif %}
        {%- if has_positional_fields %}
        let {{ req_body_schema_name }} = {{ op.request_body_schema_name }}_{
            {% for field in body_schema.fields -%}
                {% set field_name = field.name | to_snake_case -%}
                {{ field_name }}
                {%- if not field.positional %}: {{ req_body_schema_name }}.{{ field_name }}{% endif %},
            {% endfor -%}
        };
        {%- endif %}

        {# make the request -#}
        crate::request::Request::new(http::Method::{{ op.method | upper }}, "{{ op.path }}")

        {% for p in op.path_params -%}
            .with_path_param("{{ p }}", {{ p }})
        {% endfor -%}

        {% for p in op.header_params -%}
            .with_optional_header_param("{{ p.name }}", {{ p.name | to_snake_case }})
        {% endfor -%}

        {% if op.request_body_schema_name is defined -%}
            .with_body({{ op.request_body_schema_name | to_snake_case }})
        {% endif -%}

        {% if op.response_body_schema_name is undefined -%}
            .returns_nothing()
        {% endif -%}

            .execute(self.cfg)
            .await
    }

    {% set extra_path -%}
        api_extra/{{ resource.name | to_snake_case }}_{{ op.name | to_snake_case }}.rs
    {%- endset -%}
    {% include extra_path ignore missing %}
    {% endfor %}
}

{% set extra_path -%}
    api_extra/{{ resource.name | to_snake_case }}.rs
{%- endset -%}
{% include extra_path ignore missing %}
