{% macro ident(name) -%}
    {%- if name in ["ref", "type"] %}r#{% endif -%}
    {{ name }}
{%- endmacro -%}

{% macro field_name(field, as_ident=true) -%}
    {%- set field_name = field.name | to_snake_case -%}
    {%- if field.type.is_duration_ms() %}
        {%- if field_name is not endingwith "_ms" %}{% do panic("duration field must have _ms suffix") %}{% endif %}
        {%- set field_name = field_name | strip_trailing_str("_ms") -%}
    {%- endif -%}
    {%- if as_ident -%}
        {{ ident(field_name) }}
    {%- else -%}
        {{ field_name }}
    {%- endif -%}
{%- endmacro -%}

{% macro render_example_resource(resource) -%}
{{ resource.name | to_upper_camel_case }}
{%- if resource.kind == "string_enum" -%}
    ::{{ resource.values[0] | to_upper_camel_case }}
{%- elif resource.kind == "integer_enum" -%}
    ::{{ resource.variants[0][0] | to_upper_camel_case }}
{%- else -%}
    {% set non_positional_fields = resource.fields | selectattr("positional", "false") -%}
    ::new(
    {%- set ctor_fields = non_positional_fields | selectattr("required") %}
    {%- if ctor_fields | length > 1 %}
    {%- for field in ctor_fields %}
        {{ field_example(field) }},
    {%- endfor %}
    {% elif ctor_fields | length == 1 -%}
        {{ field_example(ctor_fields[0]) }}
    {%- endif -%}
    )
    {%- for field in non_positional_fields | selectattr("required", "false") %}
        .with_{{ field_name(field, as_ident=false) }}({{ field_example(field) }})
    {%- endfor -%}
{% endif -%}
{% endmacro -%}

{% macro field_example(field) -%}
    {%- if field.type.is_string() or field.type.is_uri() -%}
        {%- if field.example is defined -%}
            "{{ field.example }}"
        {%- else -%}
            "sample string"
        {%- endif -%}
        .to_owned()
    {%- elif field.type.is_unix_timestamp_ms() -%}
        "2026-04-20 12:00:00Z".parse()?
    {%- elif field.type.is_duration_ms() -%}
        Duration::from_secs(30)
    {%- elif field.type.is_map() -%}
        {%- if field.example is defined -%}
            HashMap::from([
            {%- for key, val in field.example | items -%}
                (
                    "{{ key }}".to_string(),
                    "{{ val }}".to_string()
                ){% if not loop.last %},{% endif -%}
            {%- endfor -%}
            ])
        {%- else -%}
        HashMap::new()
        {%- endif -%}
    {%- elif field.type.is_json_object() -%}
        {%- if field.example is defined -%}
            serde_json::json!({{ field.example }})
        {%- else -%}
            serde_json::json!({})
        {%- endif -%}
    {%- elif field.type.is_int_or_uint() -%}
        {%- if field.example is defined -%}
            {{ field.example | fix_serde_number_repr }}
        {%- else -%}
            1
        {%- endif -%}
    {%- elif field.type.is_schema_ref() -%}
        {{ render_example_resource(field.type.inner_schema_ref_ty()) | indent(4) }}
    {%- elif field.type.is_set() or field.type.is_list() -%}
        vec![]
    {%- elif field.type.is_bool() -%}
        true
    {%- else -%}
        /* missing example def for field */
    {%- endif -%}
{% endmacro -%}

{# build the resource path (for example: ingest.source) -#}
{% set resource_path -%}
    {% for resource_name in resource_parents -%}
        .{{ resource_name | to_snake_case }}()
    {% endfor -%}
{% endset -%}

{# output starts here -#}
{% if operation.response_body_schema_name is defined %}let response = {% endif -%}
diom{{ resource_path }}.{{ operation.name | to_snake_case }}
{%- if operation.request_body_schema_name is defined -%}
    (
    {#- positional body parameters #}
    {%- set body_schema = api.types[operation.request_body_schema_name] %}
    {%- set positional_fields = body_schema.fields | selectattr("positional") %}
    {%- for field in positional_fields %}
        {{ field_example(field) }},
    {%- endfor %}
        {{ render_example_resource(req_body_ty) | indent(4) }},
    )
{%- else %}()
{%- endif %}
    .await?;
