// this file is @generated
#![allow(clippy::too_many_arguments)]

{% for _, type in api.types | items -%}
    mod {{ type.name | to_snake_case }};
{% endfor %}

pub use self::{
    {% for _, type in api.types | items -%}
        {% set type_name = type.name | to_upper_camel_case -%}
        {{ type.name | to_snake_case }}::{
            {{ type_name }},
            {% if type.kind == "struct_enum" and type.fields | length > 0 -%}
                {{ type_name }}{{ type.content_field | to_upper_camel_case }}
            {% endif -%}
        },
    {% endfor -%}
};
