// this file is @generated
{% set resource_type_name = resource.name | to_upper_camel_case -%}
{% set resource_id_name %}{{ resource.name | to_snake_case }}_id{% endset -%}
{% if resource.name == "application" %}{% set resource_id_name = "app_id" %}{% endif -%}
{% if resource.name == "message" %}{% set resource_id_name = "msg_id" %}{% endif -%}
{% if resource.name == "integration" %}{% set resource_id_name = "integ_id" %}{% endif -%}

use diom::DiomClient;
use clap::{Args, Subcommand};

#[allow(unused)]
use crate::prelude::*;

{% if resource.subresources | length > 0 -%}
use super::{
{% for _, sub in resource.subresources | items -%}
{{ sub.name | to_upper_camel_case }}Args,
{% endfor %}
};
{%- endif %}

{%- macro get_type_example(field, api) -%}
    {%- if field.type.is_string_const() -%}
        \"{{ field.type.string_const_val() }}\"
    {%- elif field.type.is_unix_timestamp_ms() -%}
        1234567890123
    {%- elif field.type.is_duration_ms() -%}
        60000
    {%- elif field.type.is_datetime() -%}
        \"2030-01-01T00:00:00Z\"
    {%- elif field.type.is_u64() -%}
        123
    {%- elif field.type.is_bytes() -%}
        \"...\"
    {%- elif field.type.is_bool() -%}
        true
    {%- elif field.type.is_int_or_uint() -%}
        123
    {%- elif field.type.is_list() or field.type.is_set() -%}
        [{{ get_type_example({"type": field.type.inner_type()}, api) }}]
    {%- elif field.type.is_map() -%}
        {\"key\": {{ get_type_example({"type": field.type.value_type()}, api) }}}
    {%- elif field.type.is_json_object() -%}
        {\"key\": \"...\"}
    {%- elif field.type.is_schema_ref() -%}
        {%- set ref_type = api.types[field.type.to_rust()] -%}
        {%- if ref_type is defined and ref_type.kind == "string_enum" -%}
            \"{{ ref_type.values[0] }}\"
        {%- elif ref_type is defined and ref_type.kind == "integer_enum" -%}
            {{ ref_type.variants[0][1] }}
        {%- elif ref_type is defined and ref_type.kind == "struct" -%}
            {{ render_inline_object(ref_type, api) }}
        {%- else -%}
            {\"...\": \"...\"}
        {%- endif -%}
    {%- else -%}
        \"...\"
    {%- endif -%}
{%- endmacro -%}

{%- macro render_inline_object(schema, api) -%}
    {
    {%- for f in schema.fields -%}
        \"{{ f.name }}\": {% if f.example is defined %}\"{{ f.example }}\"{% else %}{{ get_type_example(f, api) }}{% endif %}{{ ", " if not loop.last else "" }}
    {%- endfor -%}
    }
{%- endmacro -%}

{%- macro render_schema_example(title, schema, api) -%}
\x1b[1;4m{{ title }}:\x1b[0m
{
{%- for field in schema.fields | selectattr("positional", "false") %}
  \"{{ field.name }}\": {% if field.example is defined %}\"{{ field.example }}\"{% else %}{{ get_type_example(field, api) }}{% endif %}{{ "," if not loop.last else "" }}
{%- endfor %}
}
{%- endmacro -%}

#[derive(Args)]
#[command(args_conflicts_with_subcommands = true, flatten_help = true)]
pub struct {{ resource_type_name }}Args {
    #[command(subcommand)]
    pub command: {{ resource_type_name }}Commands,
}

#[allow(clippy::enum_variant_names)]
#[derive(Subcommand)]
pub enum {{ resource_type_name }}Commands {
    {% for name, sub in resource.subresources | items -%}
        {{ name | to_upper_camel_case }}({{ sub.name | to_upper_camel_case }}Args),
    {% endfor -%}

    {% for op in resource.operations -%}
        {% set has_params = (op.query_params | length > 0) or (op.header_params | length > 0) -%}

        {% if op.description is defined -%}
            {{ op.description | to_doc_comment(style="rust") }}
        {% endif -%}
        {% if op.request_body_schema_name is defined or op.response_body_schema_name is defined -%}
            #[command(help_template = concat!(
                "{about-with-newline}\n",
                "{usage-heading} {usage}\n",
                "{after-help}",
                "\n",
                "{all-args}",
            ))]
            #[command(after_help = "
            {%- if op.request_body_schema_name is defined -%}
                {{- render_schema_example("Example body", api.types[op.request_body_schema_name], api) -}}
            {%- endif -%}
            {%- if op.request_body_schema_name is defined and op.response_body_schema_name is defined -%}
\n\n
            {%- endif -%}
            {%- if op.response_body_schema_name is defined -%}
                {{- render_schema_example("Example response", api.types[op.response_body_schema_name], api) -}}
            {%- endif -%}
\n")]
        {% endif -%}
        {{ op.name | to_upper_camel_case }} {
            {% if op.request_body_schema_name is defined -%}
                {# positional body parameters -#}
                {% set body_schema = api.types[op.request_body_schema_name] -%}
                {% set body_schema_all_optional = body_schema.fields
                    | selectattr("required")
                    | selectattr("positional", "false")
                    | length == 0 %}
                {% for field in body_schema.fields | selectattr("positional") -%}
                    {% if field.description is defined -%}
                        {{ field.description | to_doc_comment(style="rust") }}
                    {% endif -%}
                    {% if field.type.is_bytes() -%}
                        {% set field_type = "ByteString" -%}
                    {% else -%}
                        {% set field_type = field.type.to_rust() -%}
                    {% endif -%}
                    {{ field.name | to_snake_case }}: {{ field_type }},
                {% endfor -%}

                {# body parameter struct -#}
                {% set ty = "crate::json::JsonOf<diom::models::" ~ op.request_body_schema_name ~ ">" -%}
                {{ op.request_body_schema_name | to_snake_case }}:
                {% if body_schema_all_optional %}Option<{{ ty }}>{% else %}{{ ty }}{% endif %},
            {% endif -%}
        },
    {% endfor %}
}

impl {{ resource_type_name }}Commands {
    pub async fn exec(self, client: &DiomClient) -> anyhow::Result<()> {
        match self {
            {% for name, _ in resource.subresources | items -%}
                Self::{{ name | to_upper_camel_case }}(args) => {
                    args.command.exec(client).await?;
                }
            {% endfor -%}

            {% for op in resource.operations -%}
                {% set has_params = (op.query_params | length > 0) or (op.header_params | length > 0) -%}

                Self::{{ op.name | to_upper_camel_case }} {
                    {% if op.request_body_schema_name is defined -%}
                        {# positional body parameters -#}
                        {% set body_schema = api.types[op.request_body_schema_name] -%}
                        {% for field in body_schema.fields | selectattr("positional") -%}
                            {{ field.name | to_snake_case }},
                        {% endfor -%}

                        {# body parameter struct -#}
                        {{ op.request_body_schema_name | to_snake_case }},
                    {% endif -%}
                } => {
                    {% if op.deprecated -%}
                        #[allow(deprecated)]
                    {% endif -%}
                    {% if op.response_body_schema_name is defined -%}
                        let resp =
                    {% endif -%}

                    client
                        {% for segment in resource.name | split(".") -%}
                        .{{ segment | to_snake_case }}()
                        {% endfor -%}
                        .{{ op.name | to_snake_case }}(
                            {% if op.request_body_schema_name is defined -%}
                                {# positional body parameters -#}
                                {% set body_schema = api.types[op.request_body_schema_name] -%}
                                {% set body_schema_all_optional = body_schema.fields
                                    | selectattr("required")
                                    | selectattr("positional", "false")
                                    | length == 0 %}
                                {% for field in body_schema.fields | selectattr("positional") -%}
                                    {% if field.type.is_bytes() -%}
                                        {{ field.name | to_snake_case }}.into(),
                                    {% else -%}
                                        {{ field.name | to_snake_case }},
                                    {% endif -%}
                                {% endfor -%}

                                {# body parameter struct -#}
                                {{ op.request_body_schema_name | to_snake_case }}
                                {% if body_schema_all_optional -%}
                                    .unwrap_or_default()
                                {% endif -%}
                                    .into_inner(),
                            {% endif -%}
                        )
                        .await?;

                    {%- if op.response_body_schema_name is defined %}
                        crate::json::print_json_output(&resp)?;
                    {%- endif %}
                }
            {% endfor %}
        }

        Ok(())
    }
}
