// this file is @generated
{% set resource_type_name = resource.name | to_upper_camel_case -%}
{% set resource_id_name %}{{ resource.name | to_snake_case }}_id{% endset -%}
{% if resource.name == "application" %}{% set resource_id_name = "app_id" %}{% endif -%}
{% if resource.name == "message" %}{% set resource_id_name = "msg_id" %}{% endif -%}
{% if resource.name == "integration" %}{% set resource_id_name = "integ_id" %}{% endif -%}

use coyote_client::CoyoteClient;
use clap::{Args, Subcommand};

{% for _, sub in resource.subresources | items -%}
use super::{{ sub.name | to_upper_camel_case }}Args;
{% endfor %}

{%- macro render_schema_example(title, schema) -%}
\x1b[1;4m{{ title }}:\x1b[0m
{
{%- for field in schema.fields | selectattr("positional", "false") %}
  \"{{ field.name }}\": \"{{ field.example if field.example is defined else '...' }}\"{{ "," if not loop.last else "" }}
{%- endfor %}
}
{%- endmacro -%}

#[derive(Args)]
#[command(args_conflicts_with_subcommands = true, flatten_help = true)]
pub struct {{ resource_type_name }}Args {
    #[command(subcommand)]
    pub command: {{ resource_type_name }}Commands,
}

#[derive(Subcommand)]
pub enum {{ resource_type_name }}Commands {
    {% for name, sub in resource.subresources | items -%}
        {{ name | to_upper_camel_case }}({{ sub.name | to_upper_camel_case }}Args),
    {% endfor -%}

    {% for op in resource.operations -%}
        {% set has_params = (op.query_params | length > 0) or (op.header_params | length > 0) -%}

        {% if op.description is defined -%}
            {{ op.description | to_doc_comment(style="rust") }}
        {% endif -%}
        {% if op.request_body_schema_name is defined or op.response_body_schema_name is defined -%}
            #[command(after_long_help = "
            {%- if op.request_body_schema_name is defined -%}
                {{- render_schema_example("Example body", api.types[op.request_body_schema_name]) -}}
            {%- endif -%}
            {%- if op.request_body_schema_name is defined and op.response_body_schema_name is defined -%}
\n\n
            {%- endif -%}
            {%- if op.response_body_schema_name is defined -%}
                {{- render_schema_example("Example response", api.types[op.response_body_schema_name]) -}}
            {%- endif -%}
")]
        {% endif -%}
        {{ op.name | to_upper_camel_case }} {
            {% if op.request_body_schema_name is defined -%}
                {# positional body parameters -#}
                {% set body_schema = api.types[op.request_body_schema_name] -%}
                {% set body_schema_all_optional = body_schema.fields
                    | selectattr("required")
                    | selectattr("positional", "false")
                    | length == 0 %}
                {% for field in body_schema.fields | selectattr("positional") -%}
                    {% if field.description is defined -%}
                        {{ field.description | to_doc_comment(style="rust") }}
                    {% endif -%}
                    {{ field.name | to_snake_case }}: {{ field.type.to_rust() }},
                {% endfor -%}

                {# body parameter struct -#}
                {% set ty = "crate::json::JsonOf<coyote_client::models::" ~ op.request_body_schema_name ~ ">" -%}
                {{ op.request_body_schema_name | to_snake_case }}:
                {% if body_schema_all_optional %}Option<{{ ty }}>{% else %}{{ ty }}{% endif %},
            {% endif -%}
        },
    {% endfor %}
}

impl {{ resource_type_name }}Commands {
    pub async fn exec(self, client: &CoyoteClient) -> anyhow::Result<()> {
        match self {
            {% for name, _ in resource.subresources | items -%}
                Self::{{ name | to_upper_camel_case }}(args) => {
                    args.command.exec(client).await?;
                }
            {% endfor -%}

            {% for op in resource.operations -%}
                {% set has_params = (op.query_params | length > 0) or (op.header_params | length > 0) -%}

                Self::{{ op.name | to_upper_camel_case }} {
                    {% if op.request_body_schema_name is defined -%}
                        {# positional body parameters -#}
                        {% set body_schema = api.types[op.request_body_schema_name] -%}
                        {% for field in body_schema.fields | selectattr("positional") -%}
                            {{ field.name | to_snake_case }},
                        {% endfor -%}

                        {# body parameter struct -#}
                        {{ op.request_body_schema_name | to_snake_case }},
                    {% endif -%}
                } => {
                    {% if op.deprecated -%}
                        #[allow(deprecated)]
                    {% endif -%}
                    {% if op.response_body_schema_name is defined -%}
                        let resp =
                    {% endif -%}

                    client
                        {% for segment in resource.name | split(".") -%}
                        .{{ segment | to_snake_case }}()
                        {% endfor -%}
                        .{{ op.name | to_snake_case }}(
                            {% if op.request_body_schema_name is defined -%}
                                {# positional body parameters -#}
                                {% set body_schema = api.types[op.request_body_schema_name] -%}
                                {% set body_schema_all_optional = body_schema.fields
                                    | selectattr("required")
                                    | selectattr("positional", "false")
                                    | length == 0 %}
                                {% for field in body_schema.fields | selectattr("positional") -%}
                                    {{ field.name | to_snake_case }},
                                {% endfor -%}

                                {# body parameter struct -#}
                                {{ op.request_body_schema_name | to_snake_case }}
                                {% if body_schema_all_optional -%}
                                    .unwrap_or_default()
                                {% endif -%}
                                    .into_inner(),
                            {% endif -%}
                        )
                        .await?;

                    {%- if op.response_body_schema_name is defined %}
                        crate::json::print_json_output(&resp)?;
                    {%- endif %}
                }
            {% endfor %}
        }

        Ok(())
    }
}
