{% macro field_name(field) -%}
    {%- set field_name = field.name | to_upper_camel_case -%}
    {%- if field.type.is_duration_ms() %}
        {%- set field_name = field_name | strip_trailing_str("Ms") -%}
    {%- endif -%}
    {{ field_name }}
{%- endmacro -%}

{% macro render_example_resource(resource) -%}
{%- if resource.kind == "string_enum" -%}
    {{ resource.name | to_upper_snake_case | replace("_", "") }}_{{ resource.values[0] | to_upper_snake_case }}
{%- elif resource.kind == "integer_enum" -%}
    {{ resource.name | to_upper_snake_case | replace("_", "") }}_{{ resource.variants[0][0] | to_upper_snake_case }}
{%- else -%}
{{ resource.name | to_upper_camel_case }}{
{%- for field in resource.fields | selectattr("positional", "false") %}
    {% set field_val = field_example(field) | trim -%}
    {% if not field.required and not (field.type.is_set() or field.type.is_list() or field.type.is_map()) and field_val != "nil" -%}
        {%- set field_val %}new({{ field_val }}){% endset -%}
    {% elif not field.required and field.type.is_map() and field_val != "nil" -%}
        {%- set field_val %}&{{ field_val }}{% endset -%}
    {% endif -%}
{{ field_name(field) }}: {{ field_val }},
{%- endfor %}
{%- if resource.kind == "struct_enum" %}
{%- set variant = resource.variants[1] %}
{%- set variant_val %}
    {%- if variant.schema_ref is defined -%}
        ({{ render_example_resource(variant.inner) | trim }})
    {%- endif -%}
{%- endset %}
{{ resource.content_field | to_upper_camel_case }}: {{ variant_val }},
{{ resource.discriminator_field | to_upper_camel_case }}: "{{ variant.name }}",
{%- endif %}
}
{% endif -%}
{% endmacro -%}

{% macro field_example(field) -%}
    {%- if field.type.is_string() or field.type.is_uri() -%}
        {%- if field.example is defined -%}
        "{{ field.example }}"
        {%- else -%}
        "sample string"
        {%- endif -%}
    {%- elif field.type.is_unix_timestamp_ms() -%}
        diom.Timestamp(time.Date(2026, 04, 20, 12, 0, 0, 0, time.UTC))
    {%- elif field.type.is_duration_ms() -%}
        diom.DurationMs(30000)
    {%- elif field.type.is_map() -%}
        {%- if field.example is defined -%}
            map[string]string{
            {%- for key, val in field.example | items -%}
                "{{ key }}": "{{ val }}"
                {%- if not loop.last %}, {% endif -%}
            {%- endfor -%}
            }
        {%- else -%}
        nil
        {%- endif -%}
    {%- elif field.type.is_json_object() -%}
        {%- if field.example is defined -%}
            map[string]any{{ field.example }}
        {%- else -%}
            nil
        {%- endif -%}
    {%- elif field.type.is_int_or_uint() -%}
        {{ field.type.to_go() }}(
            {%- if field.example is defined -%}
                {{ field.example | fix_serde_number_repr }}
            {%- else -%}
                1
            {%- endif -%}
        )
    {%- elif field.type.is_schema_ref() -%}
        {{ render_example_resource(field.type.inner_schema_ref_ty()) | indent(4) }}
    {%- elif field.type.is_set() or field.type.is_list() -%}
        {%- if field.example is defined -%}
        []string{
            {%- for v in field.example -%}
            "{{ v }}"{% if not loop.last %},{% endif -%}
            {%- endfor -%}
        }
        {%- else -%}
        {{ field.type.to_go() }}{}
        {%- endif -%}
    {%- elif field.type.is_bool() %}
        true
    {%- else -%}
        {{ panic("missing example def for field") }}
    {%- endif -%}
{% endmacro -%}


{# build the resource path (for example: ingest.source) -#}
{% set resource_path -%}
    {% for resource_name in resource_parents -%}
        .{{ resource_name | to_upper_camel_case }}
    {%- endfor -%}
{% endset -%}

{# output starts here -#}
{%- if operation.response_body_schema_name is defined %}response, {% endif -%}
err := diom{{ resource_path }}.{{ operation.name | to_upper_camel_case }}
{%- if operation.request_body_schema_name is defined -%}

(
    ctx,
{#- positional body parameters #}
{%- set body_schema = api.types[operation.request_body_schema_name] %}
{%- set positional_fields = body_schema.fields | selectattr("positional") %}
{%- for field in positional_fields %}
    {{ field_example(field) }},
{%- endfor %}
    {{ render_example_resource(req_body_ty) | indent(4) }},
)

{%- else %}(ctx)
{%- endif %}
